<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>社員情報削除</title>
</head>
<body>
	<header>
			<h1>社員情報削除（確認）</h1>
		    <div>
				
	        </div>
		</header>
		
		<main>
			<form>
				社員ID<input type="text" name="id" th:value=${id} readonly><br>
			</form>
			
			<div>こちらを削除します。よろしいですか？</div>
			
	
			
			
			<form action="/delete2" method="post">
			    <input type="submit" value="確認">

				<input type="number" name="id" th:value=${id} style="display:none;">
				<input type="text" name="syain" th:value=${syain} style="display:none;">
				<input type="number" name="age" th:value=${age} style="display:none;">
				<input type="password" name="pass" th:value=${pass} style="display:none;">
				
			</form>

			
			<a th:href = "@{'menu'}">戻る</a>
<!--			<form action="/delete2" method="post" name="form">
					社員名＊<input type="text" name="syain" th:value=${syain}><br>
					年齢＊<input type="number" name="age" th:value=${age}><br>
					パスワード＊<input type="password" name="pass" th:value=${pass}><br>
					パスワード確認＊<input type="password" name="pass2" th:value=${pass2}><br>
					<input type="submit" value="確認">
			</form>
-->					
			
			
		</main>

	<footer>©︎javastudy group1  2024</footer>
</body>
</html>