<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>メインメニュー</title>
</head>
<body>
	<header>
		<p style="text-align: right;">〇〇　〇〇さん</p>
			
			<div style=" display: flex;">
				<p>トップメニュー</p>
				
				<p style="position:absolute; right: 0;">
					
				<script>
				var today=new Date(); 
				var time= new Date();
				
				var year = today.getFullYear();
				var month = today.getMonth()+1;
				var day = today.getDate();
				
				var hour = time.getHours();
				var minute = time.getMinutes();
				var second = time.getSeconds();

				document.write(year+"/"+month+"/"+day+"/　"+hour+"："+minute+"："+second);
				</script>
		        </p>
			</div>
	</header>
	
	<main>
		<div>
			<a href = "@{''}">社員情報検索</a>
			<a th:href = "@{delete}">社員情報削除</a>
			<a th:href = "@{send01}">社員情報登録</a>
			<a href = "@{''}">社員情報更新</a>
		</div>
		
	</main>

<footer>
	<p class="fotter" style="text-align: right;">Copyright ©2024</p>
</footer>

</body>
</html>