<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社員情報登録画面</title>
<link rel ="stylesheet" href="demo.css">
</head>
<body>
	<header>
			<p style="text-align: right;">〇〇　〇〇さん</p>
				
				<div style=" display: flex;">
					<p>社員情報登録（確認）</p>
					
					<p style="position:absolute; right: 0;">
						
					<script>
					var today=new Date(); 
					var time= new Date();
					
					var year = today.getFullYear();
					var month = today.getMonth()+1;
					var day = today.getDate();
					
					var hour = time.getHours();
					var minute = time.getMinutes();
					var second = time.getSeconds();

					document.write(year+"/"+month+"/"+day+"/　"+hour+"："+minute+"："+second);
					</script>
			        </p>
				</div>
		</header>
		
		
	
	<form action="/finish" method="post">
		社員名＊<input type="text" name="syain" th:value=${syain}><br>
		年齢＊<input type="number" name="age" th:value=${age}><br>
        パスワード＊<input type="password" name="pass" th:value=${pass}><br>
        パスワード確認＊<input type="password" name="pass2" th:value=${pass2}><br>

	こちらで登録します。よろしいですか？<br>
	
	
	<input type="submit" value="登録">
    </form>
	
	<form action="/send01" method="post">
		<input type="text" name="syain" th:value=${syain} style="display:none;">
		<input type="number" name="age" th:value=${age} style="display:none;">
		<input type="password" name="pass" th:value=${pass} style="display:none;">
		<input type="password" name="pass2" th:value=${pass2} style="display:none;">
	<input type="submit" value="戻る">
    </form>
	
</body>
</html>