<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社員情報登録画面</title>
<link rel ="stylesheet" href="demo.css">
</head>
<body>
	<header>
			<p style="text-align: right;">〇〇　〇〇さん</p>
				
				<div style=" display: flex;">
					<p>社員情報登録（確認）</p>
					
					<p style="position:absolute; right: 0;">
						
					<script>
					var today=new Date(); 
					var time= new Date();
					
					var year = today.getFullYear();
					var month = today.getMonth()+1;
					var day = today.getDate();
					
					var hour = time.getHours();
					var minute = time.getMinutes();
					var second = time.getSeconds();

					document.write(year+"/"+month+"/"+day+"/　"+hour+"："+minute+"："+second);
					</script>
			        </p>
				</div>
		</header>
		
		
    社員名<span name="syain" th:text="${syain}"></span><br>
	年齢<span name="age" th:text="${age}"></span><br>
    パスワード<span name="pass" th:text="${pass}"></span><br>
    パスワード確認<span name="pass2" th:text="${pass2}"></span><br>

	こちらで登録します。よろしいですか？<br>
						
	<form action="/finish" method="post">
	<input type="submit" value="登録"></form>
	
	<form action="/send01" method="post">
	<input type="submit" value="戻る"></form>
	
</body>
</html>