<!DOCTYPE html>
<html>
	
<divhead>
<meta charset="UTF-8">
    <p style="text-align: right;">〇〇　〇〇さん</p>
	
	<div style=" display: flex;">
		<p>社員情報検索 </p>
        <p style="position:absolute; right: 0;">ログイン　yyyy/mm/dd 　h:ms</p>
	</div>
	
    <title>社員情報検索</title>
	<hr>
</hed>

<body>
	<div>
		<button>メニュー</button>
		<button>登録</button>
	</div>
	
	<div class="search" style="text-align: center;">
		<p>社員ID<input type="text" name="ID">　年齢<input type="text" name="age">～<input type="text" name="ageafter"></p>
		<p>社員名<input type="text" name="name">　開始日<input type="text" name="start">～<input type="text" name="startafter"><br>
			終了日<input type="text" name="finish">～<input type="text" name="finishafter"></p>
	</div class="search" width: 70%;>
	
	<div class="button">
		<button>検索</button><br>
		<button>クリア</button>
	</div>
	
    <hr>
	<div class="number" style="text-align: left;">〇〇件
		<button style="position:absolute; right: 0;">削除</button>
	</div>
		
	<div class="result" style="text-align: center;">
		<table border="1" style="border-collapse: collapse;" >
			<tr>
				<th><input type="checkbox" name="check" value=""></th>
				<th>ID</th>
				<th>氏名</th>
				<th>年齢</th>
				<th>開始日</th>
				<th>終了日</th>
			</tr>
			
			<tr>
				<th th:each="member:${search}"><input type="checkbox" name="check" value=""></th>				
				<td th:text="${member.id}">〇〇</td>
 			    <td th:text="${member.name}">〇〇</td>
				<td th:text="${member.age}">〇〇</td>
				<td th:text="${member.start}">〇〇</td>
				<td th:text="${member.finish}">〇〇</td>			
		   </tr>
		</table>
	</div>

</body>

<footer>
	<p class="fotter" style="text-align: right;">Copyright ©2024</p>
</footer>

</html>