<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社員情報登録画面</title>
<link rel ="stylesheet" href="demo.css">
<script>
	function check(){
		if(document.form.syain.value==""){
				alert("社員名を入力してください");
				return false;
			}
			
		if(document.form.age.value==""){
			alert("年齢を入力してください");
			return false;
			}
			
		if(!document.form.pass.value.match(/^[a-zA-Z0-9]{8,}$/)){
			alert("大小半角英数を含む8文字以上で入力してください");
			return false;
			}
				
		if(document.form.pass2.value!=document.form.pass.value){
			alert("パスワードと同じものを入力してください");
			return false;
			}
		
		return true;
	}
</script>
</head>
<body>
	<header>
			<p style="text-align: right;">〇〇　〇〇さん</p>
				
				<div style=" display: flex;">
					<p class="title">社員情報登録（入力）</p>
					
					<p style="position:absolute; right: 0;">
						
					<script>
					var today=new Date(); 
					var time= new Date();
					
					var year = today.getFullYear();
					var month = today.getMonth()+1;
					var day = today.getDate();
					
					var hour = time.getHours();
					var minute = time.getMinutes();
					var second = time.getSeconds();

					document.write(year+"/"+month+"/"+day+"/　"+hour+"："+minute+"："+second);
					</script>
			        </p>
				</div>
		</header>
		
		
    <form action="/receive01" method="post" name="form">
		社員名＊<input type="text" name="syain" th:value=${syain}><br>
		年齢＊<input type="number" name="age" th:value=${age}><br>
		パスワード＊<input type="password" name="pass" th:value=${pass}><br>
		パスワード確認＊<input type="password" name="pass2" th:value=${pass2}><br>
		
        
		
        <input type="submit" value="確認" onclick="return check();">
		<input type="submit" value="戻る">
        
    </form>
</body>
</html>