<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社員情報登録画面</title>
<link rel ="stylesheet" href="demo.css">
</head>
<body>
	<header>
			<p style="text-align: right;">〇〇　〇〇さん</p>
				
				<div style=" display: flex;">
					<p class="title">社員情報登録（入力）</p>
					
					<p style="position:absolute; right: 0;">
						
					<script>
					var today=new Date(); 
					var time= new Date();
					
					var year = today.getFullYear();
					var month = today.getMonth()+1;
					var day = today.getDate();
					
					var hour = time.getHours();
					var minute = time.getMinutes();
					var second = time.getSeconds();

					document.write(year+"/"+month+"/"+day+"/　"+hour+"："+minute+"："+second);
					</script>
			        </p>
				</div>
		</header>
	
	<main>
		
	<div id="main">
		
		<div class="main2">	
		<form action="/receive" method="post">
			<label>社員名＊</label><input type="text" name="syain"><br>
			
			年齢＊<input type="number" name="age"><br>
			<span th:text="${message}"></span>
			
			パスワード＊<input type="password" name="pass"><br>
			<span th:text="${message}"></span>
			<span th:text="${message2}"></span>
			
			
			パスワード確認＊<input type="password" name="pass2"><br>
			<span th:text="${message}"></span>
			<span th:text="${message2}"></span>
			<span th:text="${message3}"></span>
			
		</div>
		
	    <div class="main3">
		    <input type="submit" value="確認">
		    <a href="menu.html">戻る</a>
	    </div>
	
	    </form>
	</div>
	
	</main>

<footer>©︎javastudy group1  2024</footer>
</body>
</html>