<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社員情報登録画面</title>
</head>
<body>
	<header>
			<p style="text-align: right;">〇〇　〇〇さん</p>
				
				<div style=" display: flex;">
					<p>社員情報登録（入力）</p>
					
					<p style="position:absolute; right: 0;">
						
					<script>
					var today=new Date(); 
					var time= new Date();
					
					var year = today.getFullYear();
					var month = today.getMonth()+1;
					var day = today.getDate();
					
					var hour = time.getHours();
					var minute = time.getMinutes();
					var second = time.getSeconds();

					document.write(year+"/"+month+"/"+day+"/　"+hour+"："+minute+"："+second);
					</script>
			        </p>
				</div>
		</header>
	
	<main>
		<form action="/" method="post">
			社員名<input type="text" name="syain"><br>
			年齢<input type="number" name="age"><br>
			パスワード<input type="password" name="pass"><br>
			パスワード確認<input type="password" name="pass"><br>

		
		<input type="submit" value="確認">
		<a href = "@{''}">戻る</a>
		
	    </form>
	</main>

<footer>©︎javastudy group1  2024</footer>
</body>
</html>