<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社員情報登録画面</title>
<link rel ="stylesheet" href="./demo.css">
<script>
	function check(){
		if(document.form.syain.value==""){
				alert("社員名を入力してください");
				return false;
			}
			
		if(document.form.syain.value.match(/^(?=.*?[0-9])/)){
				alert("社員名に数字は入力できません");
				return false;
			}
			
		if(document.form.age.value==""){
			alert("年齢を入力してください");
			return false;
			}
			
		if(!document.form.pass.value.match(/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[0-9])/)){
			alert("パスワードは大小半角英数を含む8文字以上で入力してください");
			return false;
			}
				
		if(document.form.pass2.value!=document.form.pass.value){
			alert("パスワード確認はパスワードと同じものを入力してください");
			return false;
			}
		
		return true;
	}
</script>
</head>
<body>
	<header style="border-bottom:solid black 1px; height: 10vh;">
			<p style="text-align: right;">〇〇　〇〇さん</p>
				
				<div style=" display: flex;">
					<p class="title" style="color:red">社員情報登録（入力）</p>
					
					<p style="position:absolute; right: 0;">
						
					<script>
					var today=new Date(); 
					var time= new Date();
					
					var year = today.getFullYear();
					var month = today.getMonth()+1;
					var day = today.getDate();
					
					var hour = time.getHours();
					var minute = time.getMinutes();
					var second = time.getSeconds();

					document.write(year+"/"+month+"/"+day+"/　"+hour+"："+minute+"："+second);
					</script>
			        </p>
				</div>
		</header>
		
	<main  style="width: 100vw; height: 70vh;  position: relative;">
	
    <form action="/receive01" method="post" name="form" style="position: absolute; top:10%; left:40%; margin: -25px 0 0 -25px;">
		
		
		
		<div style="border: solid red 1px; text-align: left; margin:20px auto 50px">
		
		<div style="margin:5px 10px 5px 10px;">社員名＊<input type="text" pattern="[ぁ-んァ-ンa-zA-Z\-]+" name="syain" th:value=${syain}></div><br>
		<div style="margin:5px 10px 5px 10px;">年齢＊<input type="number" name="age" th:value=${age}></div><br>
		<div style="margin:5px 10px 5px 10px;">パスワード＊<input type="password" name="pass" th:value=${pass}></div><br>
		<div style="margin:5px 10px 5px 10px;">パスワード確認＊<input type="password" name="pass2" th:value=${pass2}></div><br>
	
        </div>
		
		<div style="border-top: solid black 1px; margin:0 auto;">
        <input type="submit" value="確認" onclick="return check();" style="background-color: yellow; margin:10px;">
		<a th:href="@{menu}" style="margin:10px;"><input type="button" value="戻る"></a>
	    </div>
		
	</form>	
	
	</main>
	<!--	<form action="/delete1" method="post">
			id<input type="number" name="id">
			<input type="submit" value="削除">
		</form>
     -->  
    
	   <footer>
	   	<p class="fotter" style="text-align: right;">Copyright ©2024</p>
	   </footer>
	   
</body>
</html>