<!DOCTYPE html>
<html>
	
<head>
    <meta charset="UTF-8">
    <p style="text-align:right">〇〇　〇〇さん</p>
	
	<div style=" display: flex;">
		<p>社員情報更新（完了）</p>
	    <p style="position:absolute; right: 0;">ログイン　yyyy/mm/dd 　h:ms</p>
	</div>
	
    <title>社員情報更新（完了）</title>
	
    <hr>
    </head>

<body>
	<div class="update"　style="text-align: center;">
		<p>社員情報の更新が完了しました。</p>
	</div>
	<hr>
	<div>
		<button>メニュー</button>
		<button>検索へ</button>
	</div>

</body>

<footer>
	<p class="fotter" style="text-align: right;">Copyright ©2024</p>
</footer>

</html>