<!DOCTYPE html>
<html>
	
<head>
    <meta charset="UTF-8">
    <p style="text-align:right">〇〇　〇〇さん</p>
	
	<div style=" display: flex;">
		<p>社員情報更新（入力） </p>
	    <p style="position:absolute; right: 0;">ログイン　yyyy/mm/dd 　h:ms</p>
	</div>
	
    <title>社員情報更新（入力）</title>
    <hr>
    </head>

<body>
	<div class="update"　style="text-align: center;">
		<p>社員ID<input type="text" name="ID"></p>
		<p>社員名<input type="text" name="name"></p>
		<p>年齢<input type="text" name="age"></p>
		<p>パスワード<input type="text" name="pass"></p>
		<p>パスワード確認<input type="text" name="password"></p>
		<p>開始日<input type="text" name="start"></p>
		<p>終了日<input type="text" name="finish"></p>
		
	</div>
	<hr>
	<div>
		<button>確認</button>
		<button>削除</button>
		<button>戻る</button>
	</div>

</body>

<footer>
	<p class="fotter" style="text-align: right;">Copyright ©2024</p>
</footer>

</html>